/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}
/*Début header*/
nav {
  display: flex;
  justify-content: space-between;
}

.logo img {
  max-width: 4em;
  margin-top: 20px;
  margin-bottom: 30px;
}
.lien-header {
  display: flex;
}
.lien-header {
  cursor: pointer;
}
.lien-hebergements {
  width: 50%;
  margin-right: 50px;
  padding-top: 10px;
}
.lien-activites {
  padding-top: 10px;
  width: 50%;
}
.lien-hebergements:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
  padding-top: 8px;
}
.lien-activites:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
  padding-top: 8px;
}
/*Fin header*/
/*Début main */
h1 {
  font-size: 22px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
.intro-titre {
  margin-bottom: 30px;
}
.input-search {
  width: 50%;
  height: 50px;
  display: flex;
}
.input-search input {
  width: 200px;
  border: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  font-weight: bold;
}
.input-search i {
  background-color: #f2f2f2;
  height: 100%;
  width: 55px;
  border-radius: 10px 0px 0px 10px;
  font-size: 20px;
  text-align: center;
  align-content: center;
}
.input-search button {
  width: 120px;
  background-color: #0065fc;
  border: none;
  color: white;
  border-radius: 0px 10px 10px 0px;
  font-size: 17px;
  font-weight: bold;
}

.btn-search i {
  display: none;
}
::placeholder {
  color: black;
  font-size: 18px;
  text-align: center;
}
.filtres {
  display: flex;
  margin-top: 30px;
}

.filtres h2 {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.toutes_cases {
  display: flex;
}
.cases_premiere_ligne,
.cases_deuxieme_ligne {
  display: flex;
}
.filtres_categorie {
  align-self: center;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 15px;
  margin: 5px;
  height: 20px;
  font-weight: bold;
}
.filtres i {
  padding-right: 5px;
}
.filtres_categorie:hover {
  background-color: #deebff;
}
.info-logements {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.info-logements i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border: solid 1px #f2f2f2;
  border-radius: 50%;
  font-size: 10px;
}
/* Partie hébergements */

.hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergements img {
  width: 100%;
  height: 120px;
  border-radius: 20px 20px 0 0;
}
.hebergements .hebergements-title {
  width: 100%;
  margin-bottom: 30px;
}
.card-txt {
  font-size: 14px;
  padding-left: 5px;
}
.hebergements .card-rating {
  padding-left: 5px;
  padding-top: 5px;
}

.hebergements-card {
  width: 31%;
  height: 220px;
}
.hebergements .card-content {
  display: flex;
  flex-direction: column;
  height: 70px;
}
.hebergements .card-subtitle {
  margin: 0;
}
.card-title {
  margin-top: 5px;
  margin-bottom: 10px;
}

.hebergements-suite {
  width: 100%;
  margin: 0;
  font-weight: bold;
}
/* fin du hébergements */
/* Activités */

.activites {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
}
.activites h1 {
  height: 20px;
  margin-bottom: 40px;
  margin-left: 25px;
}
.card-marseille {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 500px;
}
.activites-card {
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.activites .card {
  padding: 0px;
}
.activites img {
  width: 100%;
  height: 400px;
  border-radius: 20px 20px 0px 0px;
}
.activites .card-content {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 3px 0px 2px 15px;
}

/* Fin activités*/

/* fin du main */
/*début du footer*/

footer {
  background-color: #f2f2f2;
  display: flex;
  margin-top: 20px;
}
.section-footer {
  padding-left: 30px;
}

footer ul {
  list-style: none;
  padding: 0%;
  padding-right: 200px;
}
footer li {
  margin-bottom: 10px;
  font-size: 16px;
}
/*Fin du footer*/

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  margin: 0%;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.hebergements-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}
.section-title {
  margin: 0;
}
.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) and (min-width: 767.98px) {
  .filtres {
    display: flex;
    flex-direction: column;
  }
  .toutes_cases {
    display: flex;
  }
  .filtres_categorie {
    font-size: 16px;
  }
  .input-search input {
    width: 200px;
  }
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .populaires-cards .card {
    margin-top: 20px;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites .card-content {
    display: flex;
    align-items: center;
    height: 60px;
  }
  .card-marseille {
    height: 250px;
  }
  .activites img {
    height: 200px;
  }
  .activites {
    margin-bottom: 80px;
  }
  footer ul {
    padding-right: 100px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 320px) {
  .main-container {
    margin: 0%;
    padding: 0%;
  }
  .intro-accueil {
    margin-left: 5%;
    margin-right: 5%;
  }
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lien-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .lien-hebergements {
    display: flex;
    padding-bottom: 20px;
    margin-right: 0;
    justify-content: center;
    border-bottom: solid 1px #d9d9d9;
  }
  .lien-activites {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: solid 1px #d9d9d9;
  }

  .lien-hebergements:hover {
    border-top: none;
    border-bottom: solid 2px #0065fc;
  }
  .lien-activites:hover {
    border-top: none;
    border-bottom: solid 2px #0065fc;
  }

  h1 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  .input-search input {
    width: 100%;
  }
  .input-search i {
    width: 70px;
  }
  .btn-search i {
    display: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    background-color: transparent;
  }
  .input-search {
    width: 100%;
  }
  .input-search button {
    width: 60px;
    border-radius: 15px;
    box-shadow: 0px 4px 2.5px #d9d9d9;
  }

  .btn-search .btn-text-search {
    display: none;
  }

  .filtres {
    display: flex;
    flex-direction: column;
  }
  .cases_premiere_ligne,
  .cases_deuxieme_ligne {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .filtres_categorie {
    display: flex;
    width: 120px;
    gap: 5px;
    font-size: 14px;
  }
  .filtres_categorie i {
    font-size: 18px;
  }
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
  }
  .hebergements-and-populaires .hebergements {
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .hebergements {
    width: 100%;
  }
  .hebergements .hebergements-title {
    margin-bottom: 15px;
  }
  .hebergements-card {
    width: 100%;
  }
  .hebergements img {
    border-radius: 10px 10px 0px 0px;
  }
  .hebergements-suite {
    margin-top: 0px;
  }
  .populaires {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .hebergements-and-populaires section {
    border-radius: 0%;
  }
  .populaires .section-title {
    margin: 0;
  }

  .populaires-cards article {
    display: flex;
    width: 100%;
  }
  .populaires-cards .card {
    margin-top: 15px;
  }
  .activites {
    margin-top: 30px;
    height: 950px;
  }
  .activites img {
    height: 150px;
  }
  .activites h2 {
    margin-left: 30px;
  }
  .activites-card {
    width: auto;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .card-marseille {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  footer {
    margin-top: 70px;
    flex-direction: column;
  }
  footer ul {
    padding: 0;
  }
  footer li {
    font-size: 16px;
  }
}
